.app {
  display: grid;
  grid-gap: 49px;
  grid-template-columns: 98px 1182px;


  &__cards {
  display: grid;
  grid-gap: 32px;
  margin-left: 49px;
  padding: 43px 45px 47px 0px;
  grid-template-columns: repeat(3, 28.85%);
  grid-template-rows: 50px 148px 242px 242px;

  grid-template-areas: 
  "header header header"
  "card__friends card__visitors card__followers"
  "audience audience reach"
  "gender gender geo";
}
}


.app__cards > * {
  background-color: pink;
  border-radius: 13px;
}

.header {
  grid-area: header;
}

.card__friends {
  grid-area: card__friends;
}

.card__visitors {
  grid-area: card__visitors;
}

.card__friends {
  grid-area: card__followers;
}

.audience {
  grid-area: audience;
}

.reach {
  grid-area: reach;
}

.gender {
  grid-area: gender;
}

.geo {
  grid-area: geo;
}
