.app {
  display: grid;
  width: 92.34%;
  height: 100vh;
  padding: 43px 45px 47px 50px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.63% 2.5%;
  grid-template-areas: 
  'header header header'
  'card card card'
  'audience audience reach'
  'gender gender geo';
  background-color: #EFF3F9;
  border-radius: 14px;
}


.app > * {
  background-color: pink;
  border-radius: 13px;
}

.header {
  grid-area: "header";
}


.card {
  grid-area: "card";
}

.audience {
  grid-area: "audience";
}


.reach {
  grid-area: "reach";
}

.gender {
  grid-area: "gender";
}


.geo {
  grid-area: "geo";
}
