.app {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 98px 1182px;
  background-color: #EFF3F9;
  color: $text-color;
  font-family: 'Gilroy';
  width: 1280px;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  top: 160px;
  left: 160px;


  &__cards {
  display: grid;
  grid-gap: 32px;
  padding: 43px 0px 47px 0px;
  grid-template-columns: repeat(3, 28.85%);
  grid-template-rows: 50px 148px 242px 242px;

  grid-template-areas: 
  "header header header"
  "card__friends card__visitors card__followers"
  "audience audience reach"
  "gender gender geo";
}
}


.header,
.card__friends,
.card__visitors,
.card__followers,
.audience,
.reach,
.gender,
.geo {
  border-radius: 13px;
}


.header {
  grid-area: header;
}

.card__friends {
  grid-area: card__friends;
}

.card__visitors {
  grid-area: card__visitors;
}

.card__followers {
  grid-area: card__followers;
}

.audience {
  grid-area: audience;
}

.reach {
  grid-area: reach;
  border-radius: 13px;
}

.gender {
  grid-area: gender;
}

.geo {
  grid-area: geo;
}
