.gender {
  display: grid;
  grid-template-rows: 32% 68%;
  grid-template-columns: 93%;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: $background-color;
  justify-content: center;


  &__header {
  display: grid;
  grid-template-columns: 76% 1fr 1fr;
  height: 100%;
  align-items: center;
 }

  &__diagram {
        display: flex;
        text-align: center;
        align-self: center;
        width: 100%;
        height: 100%;
  }

  &__indicator {
    @include description;
    height: 100%;
    align-items: center;

    &--box-women {
    @include indicatorSecond;
    }

    &--box-men {
    @include indicatorFirst;
    }
  }
}

.gender__title {
  @include title;
}
