.header {
  display: grid;
  grid-template-columns: 14% 18% 54% 10%;
  width: 100%;
  align-items: center;

  &__title {
    @include title;
    font-size: 30px;
    line-height: 36px;
  }
}


.header__search {
  position: relative;
}

.header__search--input {
  width: 153px;
  height: 32px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  background: #FDFDFF;
  position: relative;

  &::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: #979797;
    padding-left: 40px;
  }
}

  .search-icon {
    top: calc(50% - 5px);
    left: 20px;
    height: 10px;
    width: 11px;
    position: absolute;
    z-index: 1;
    background: url(../../images/icons/magnifier.png) no-repeat;
  }




.header__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__profile--name {
  @include title;
}


.header__profile--photo {
  display: flex;
  width: 50px;
  height: 50px;
  background: url(../../images/persons/profile-photo.png);
  position: relative;
  align-items: center;
  justify-content: center;
}


.header__profile--photo::before {
  content: '';
  width: 4px;
  height: 0.1px;
  background-color: $text-color;
  position: absolute;
  left: 60px;
  top: 22px;
  border: 0.1px solid #3A236A;
  transform: rotate(45deg);
  cursor: pointer;
}

.header__profile--photo::after {
  content: '';
  width: 4px;
  height: 0.1px;
  left: 64px;
  top: 22px;
  background-color: $text-color;
  border: 0.1px solid #3A236A;
  transform: rotate(-45deg);
  position: absolute;
  cursor: pointer;
}