.reach__diagram {
  width: 80%;
  height: 80%;
}

.reach {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 86%;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
}

.reach__title {
  @include title;
}

.reach__content {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100%;
}

.reach__desc--desktop,
.reach__desc--mobile {
  @include description;
}


.reach__desc--desktop-indicator {
  @include indicatorSecond;
  margin-bottom: 11px;
}

.reach__desc--mobile-indicator {
  @include indicatorFirst;
}