.nav {
  display: grid;
  width: 98px;
  grid-template-columns: 98px;
  grid-template-rows: 1fr repeat(5, 65px) 84px 77px 1fr;
  min-height: 780px;
  background-color: $background-color;
  border: 1px solid #EBEBEB;
  height: 100%;

  &__link,
  &__logo {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}


.sidebar__toggle {
  display: flex;
  justify-content: center;
  height: 90px;
}

  .sidebar-icon {
    fill: #DFE6F1;
    transition: fill ease 0.5s;
  }


  .nav__link:before {
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 4px;
    height: 50px;
    background-color: $first-color;
    border-radius: 0px 5px 5px 0px;
    transition: all ease 0.5s;
  }

  .nav__link:hover:before {
    visibility: visible;
    opacity: 1;
    background-color: $first-color;
  }
   
  .nav__link:hover .sidebar-icon {
    fill: $first-color;
  }




/*Styles for toggle*/

  .sidebar__toggle {
    display: flex;
    align-self: flex-end;
  }


  .sidebar__checkbox[type='checkbox'] {
    visibility: hidden;
    display: none;
  }


  .sidebar__toggle--check {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in .6s;
    border: 0.5px solid #4F4F4F;
    background-color: $background-color;
  }

  .sidebar__checkbox[type='checkbox']:checked~.sidebar__toggle--check {
    background-color: $background-color;
  }

  .sidebar__toggle--check:before {
    content: '';
    position: absolute;
    background-color: $background-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .6s;
  }


  .sidebar__toggle--check:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 25px;
    background-color: $first-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: .6s;
    transform: translateX(10px);
  }

  .sidebar__checkbox[type='checkbox']:checked~.sidebar__toggle--check:before {
   transform: translateX(-50px);
  }

  .sidebar__checkbox[type='checkbox']:checked~.sidebar__toggle--check:after {
    transform: translateX(-20px);
  }


  





/* Styles for responsive menu */

.menu-btn {
  display: none;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 1px;
  cursor: pointer;
}

.menu-btn {
  display: flex;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
}

.menu-btn__lines {
  position: relative;
  width: 30px;
  height: 1px;
  top: 30px;
  left: 30px;
  background-color: black;
}

.menu-btn__lines:before,
.menu-btn__lines:after {
  content: '';
  position: absolute;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: black;
}

.menu-btn__lines:before {
    top: -10px;
}

.menu-btn__lines:after {
    top: 10px;
}







