html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  background-color: #EFF3F9;
  border-radius: 14px;
}